body{
  color: white;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
@font-face{
  font-family:"bitmgoth";
  src: url("Bitmgothic.ttf");
}
mark{
  font-weight: bold;
  color:white;
  background-color:grey;
}
h1{
  margin: 0vh;
  padding: 0vh;
  font-size: 5vh;
  height: 3vh;
}
h2{
  font-family:"bitmgoth";
  font-size: 5vh;
  margin: 3px;
  padding: 3px;
}
a{
  color: red;
}
p{
  margin-left: 5px;
}

#mainimg{
  float:left;
  height: 45vh;
}

#presents{
  margin: 0vh;
  padding: 0vh;
  border: 0px;
  height: 3vh;
  font-size: 3vh;
}

#title{
  text-align: center;
  border-bottom: solid white 1px;
  height: 20vh;
  overflow: hidden;
  background-image: url("logo.png");
  background-size: 48px 48px;
}

#titlemark{
    display: inline-block;
    width:40vw;
    min-width: 300px;
    background: black;
}

#navbar{
  margin: 5px;
  padding: 5px;
  left: 18%;

  text-align:center;
  top: 22vh;
}

#content{
  text-align: center;
  border: solid white 1px;
  margin: 5px;
  padding: 5px;
  bottom: 10%;
  top: 33%;
  position: absolute;
  overflow: auto;
  color: black;
  background-color:white;
  width: 95vw;
}
.sc{
  width: 60vw;
}
.imgbox{
  margin:5px;
}

.subcontent{
  color: black;
  display: none;
}

.navbtn{
  display: inline-block;
  font-size: 3.5vh;
  text-align: right;
  border-right: solid white 1px;
  padding-left: 1vw;
  padding-right: 5vw;
  color:white;
}
